/* CSS Document */ 

body { 
font: normal 12px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
color: #4f6b72; 
background: #E6EAE9; 
}

.button {
	font-family: Verdana, Arial, sans-serif;
    display: inline-block;
    background: #459300 url('../images/bg-button-green.gif') top left repeat-x !important;
    border: 1px solid #459300 !important;
    padding: 4px 7px 4px 7px !important;
    color: #fff !important;
    font-size: 13px !important;
    cursor: pointer;
    }
                
.button:hover {
    text-decoration: underline;
    }
                
.button:active {
    padding: 5px 7px 3px 7px !important;
    } 

a { 
color: #c75f3e; 
} 

caption { 
padding: 0 0 5px 0; 
width: 700px; 
font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
text-align: right; 
} 

th { 
text-align:center;
font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
color: #4f6b72; 
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
border-top: 1px solid #C1DAD7; 
letter-spacing: 2px; 
text-transform: uppercase; 
text-align: left; 
padding: 2px 6px 1px 8px; 
background: #CAE8EA no-repeat;
white-space: nowrap; 
} 
/*power by www.winshell.cn*/ 
th.nobg { 
border-top: 0; 
border-left: 0; 
border-right: 1px solid #C1DAD7; 
background: none; 
} 

td { 
border-right: 1px solid #C1DAD7; 
border-bottom: 1px solid #C1DAD7; 
background: #fff; 
font-size:12px; 
padding: 2px 6px 1px 8px; 
color: #000000; 
} 
/*power by www.winshell.cn*/ 

td.alt { 
background: #F5FAFA; 
color: #797268; 
} 

th.spec { 
border-left: 1px solid #C1DAD7; 
border-top: 0; 
background: #fff no-repeat; 
font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
} 

th.specalt { 
border-left: 1px solid #C1DAD7; 
border-top: 0; 
background: #f5fafa no-repeat; 
font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; 
color: #797268; 
} 
/*---------for IE 5.x bug*/ 
html>body td{ font-size:12px;} 
body,td,th { 
font-family: ËÎÌו, Arial; 
font-size: 12px; 
} 